.main{
border: 6px solid seagreen;
border-radius: 15px 15px 0px 0px;
width: 250px;
height: 250px;
margin: 0 auto;
padding: 10px;
}

.result{
    width: 100%;
    margin: 3px;
    background-color: grey;
    color: white;
}

.clear-btn{
    width: 95%;
    margin-top: 10px;
    background-color:grey;
    margin: 1px;
}

.btn{
    background-color: grey;
    width: 45px;
    margin: 1px;
}

.halfbtn{
    background-color: grey;
    width: 25%;
    margin-top: 5px;
}
