
.main{
border: 2px solid black;
border-radius: 15px 15px 15px 15px;
width: 250px;
margin: 0 auto;
padding: 18px;

}


.btn-success {
    width: 195px !important;
    height: 50px !important;
    font-size: 20px !important;
    
    }



.btn-primary{
font-size: 20px !important;
}

/* .result{
    width: 75%;
    height: 30px;
    margin: 3px;
    background-color: grey;
    color: white;
} */


/* .clear-btn{
    width: 79%;
    height: 25px;
    margin-top: 15px;
    background-color:grey;
    color: white;
    margin: 4px;
    font-size: larger;
} */


/* .btn{
    background-color: grey;
    width: 45px;
    margin: 5px;
    padding: 5px;
    font-size: larger;
} */

/* .halfbtn{
    background-color: grey;
    font-size: larger;
    width: 25%;
    margin: 5px;
} */
